[submodule "gravity_e2e/tests/contracts/erc20-test/lib/openzeppelin-contracts"]
	path = gravity_e2e/tests/contracts/erc20-test/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
