name: Build Gravity-SDK

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  build_on_ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Sys Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
              build-essential \
              clang \
              libclang-dev \
              libsnappy-dev \
              liblz4-dev \
              libzstd-dev \
              libbz2-dev \
              zlib1g-dev

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
#        run: echo "Cache key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}"

      - name: Check format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
        continue-on-error: true

#      - name: Run clippy
#        uses: actions-rs/cargo@v1
#        with:
#          command: clippy

      - name: Build gravity_node
        run: make BINARY=gravity_node
        continue-on-error: false

      - name: Build bench
        run: make BINARY=bench
        continue-on-error: true

      - name: Build kvstore
        run: make BINARY=kvstore
        continue-on-error: true

  build_on_macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
#        run: echo ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Check format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
        continue-on-error: true

#      - name: Run clippy
#        uses: actions-rs/cargo@v1
#        with:
#          command: clippy

      - name: Build gravity_node
        run: make BINARY=gravity_node
        continue-on-error: false

      - name: Build bench
        run: make BINARY=bench
        continue-on-error: true

      - name: Build kvstore
        run: make BINARY=kvstore
        continue-on-error: true